@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--white);
    --foreground: var(--grim);

    --white: #eee;
    --grim: #1b1f23;
    --primary: #8b5cf6;
    --accent: rgb(96, 115, 159);

    --success: #16a34a;
    --danger: #ed3737;
    --warning: #eab308;

    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), var(--white);
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
      0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
  }

  .dark {
    --background: var(--grim);
    --foreground: var(--white);
  }
}

body {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "IBM Plex Serif", serif;
  margin: 0;
  padding: 0;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 1.25em;
  line-height: 1.5;
}
main {
  max-width: 56rem;
  margin: auto;
  padding: 1.5em;
  min-height: 60vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--foreground));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 800;
}
a {
  color: var(--foreground);
}
a:hover {
  color: var(--primary);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  color: var(--white);
  background-color: #18191b;
  border-radius: 8px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--primary);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
mark {
  font-style: italic;
  padding: 0 0.2em;
  display: inline-block;
  transform: skew(-10deg);
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

/*
  SCROLL BAR
*/
*::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--background); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--foreground); /* color of the scroll thumb */
  border-radius: 25px; /* roundness of the scroll thumb */
  border: 2px solid transparent; /* creates padding around scroll thumb */
}

@media (max-width: 1024px) {
  *::-webkit-scrollbar {
    width: 2px; /* width of the entire scrollbar */
    height: 8px;
  }
}
