---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="text-5xl font-extrabold text-center">Page not found 😰</div>
</Layout>
