---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="text-5xl font-extrabold">hi, my name is<br/> <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">mohamed ait abdelmalek</span></div>
		</main>
	</body>
</html>
