---
import { EMAIL } from "../consts";
import Layout from "../layouts/MdxPageLayout.astro";
---

<Layout title="Privacy Policy" description="Privacy Policy">
    <div class="my-10">
        <p>Effective date: 2023-11-11</p>

        <h3>1. Introduction</h3>
        <p>Welcome to <b> moh3a</b>.</p>
        <p>Our Privacy Policy governs your visit to <b>https://moh3a.github.io</b>, and explains how we collect, safeguard and disclose information that results from your use of our Service.</p>
        <p>We use your data to provide and improve Service. By using Service,
        you agree to the collection and use of information in accordance
        with this policy. Unless otherwise defined in this Privacy Policy,
        the terms used in this Privacy Policy have the same meanings as in
        our Terms and Conditions.</p>
        <p>Our Terms and Conditions (<b>“Terms”</b>) govern all use of our
        Service and together with the Privacy Policy constitutes your
        agreement with us (<b>“agreement”</b>).</p>

        <h3>2. Information Collection and Use</h3>
        <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>

        <h3>3. Types of Data Collected</h3>
        <h4>Usage Data</h4>
        <p>We may also collect information that your browser sends whenever you visit our Service or when you access Service by or through any device (<b>“Usage Data”</b>).</p>
        <p>This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
        <p>When you access Service with a device, this Usage Data may include information such as the type of device you use, your device unique ID, the IP address of your device, your device operating system, the type of Internet browser you use, unique device identifiers and other diagnostic data.</p>
        <h4>Tracking Cookies Data</h4>
        <p>We use cookies and similar tracking technologies to track the activity on our Service and we hold certain information.</p>
        <p>Cookies are files with a small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Other tracking technologies are also used such as beacons, tags and scripts to collect and track information and to improve and analyze our Service.</p>
        <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>

        <h3>4. Use of Data</h3>
        <p>moh3a uses the collected data for various purposes:</p>
        <ol>
            <li>to provide and maintain our Service;</li>
            <li>to gather analysis or valuable information so that we can
        improve our Service;</li>
            <li>to monitor the usage of our Service;</li>
            <li>to detect, prevent and address technical issues;</li>
            <li>to fulfil any other purpose for which you provide it;</li>
            <li>for any other purpose with your consent.</li>
        </ol>

        <h3>5. Retention of Data</h3>
        <p>We will only retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period, except when this data is used to strengthen the security or to improve the functionality of our Service, or we are legally obligated to retain this data for longer time periods.
        </p>
        
        <h3>6. Security of Data</h3>
        <p>The security of your data is important to us but remember that no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.
        </p>

        <h3>7. Your Data Protection Rights Under General Data Protection
            Regulation (GDPR)</h3>
        <p>If you are a resident of the European Union (EU) and European Economic Area (EEA), you have certain data protection rights, covered by GDPR.</p>
        <p>We aim to take reasonable steps to allow you to correct, amend, delete, or limit the use of your Personal Data.</p>
        
        <h3>8. Analytics</h3>
        <p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>

        <h3>9. CI/CD tools</h3>
        <p>We may use third-party Service Providers to automate the development process of our Service.
        </p>

        <h3>10. Behavioral Remarketing</h3>
        <p>We may use remarketing services to advertise on third party websites to you after you visited our Service. We and our third-party vendors use cookies to inform, optimise and serve ads based on your past visits to our Service.</p>

        <h3>11. Links to Other Sites</h3>
        <p>Our Service may contain links to other sites that are not operated by us. If you click a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
        <p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
        
        <h3>12. Contact Us</h3>
        <p>If you have any questions about this Privacy Policy, please contact us by email: <b>{EMAIL}</b>.</p>
    </div>
</Layout>
