---
import { Github, Linkedin } from "lucide-preact";

import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle';
import { SITE_NAME} from '../consts';

---

<header>
	<nav>
		<h2><a href="/portfolio"><img alt={SITE_NAME} src="/portfolio/favicon.ico" height="40" width="40" /></a></h2>
		
			<div class="internal-links">
				<HeaderLink href="/portfolio">Home</HeaderLink>
				<HeaderLink href="/portfolio/projects">Projects</HeaderLink>
				<HeaderLink href="/portfolio/blog">Blog</HeaderLink>
				<HeaderLink href="/portfolio/about">About</HeaderLink>
			</div>
			<div class="social-links">
				<ThemeToggle client:only="preact" />
				<a href="https://www.linkedin.com/in/mohamed-ait-abdelmalek-moh3a" target="_blank" rel="noreferrer">
					<span class="sr-only">Chat with me on LinkedIn</span>
					<Linkedin />
				</a>
				<a href="https://github.com/moh3a" target="_blank" rel="noreferrer">
					<span class="sr-only">Check me on Github</span>
					<Github />
				</a>
			</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--foreground);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--primary);
	}
	.social-links {
		display: flex;
	}
</style>
