---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils';
import { Check, Globe } from "lucide-preact";

const changeLocale = (lang: string) => {
  const n = Astro.url.pathname.split('/')
  n[2] = lang
  return n.join('/')
}

const currentLang = getLangFromUrl(Astro.url);
---

<div class="dropdown">
  <button class="p-2 border-b-[1px] border-b-transparent">
    <span class="sr-only">change page language</span>
    <Globe />
  </button>
  <ul class="dropdown-content text-sm">
    {Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={changeLocale(lang)}>
          {label}
          {currentLang === lang && <Check class="float-right text-[var(--success)]" />}
        </a>
      </li>
    ))}
  </ul>
</div>
<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    border-radius: 12%;
    display: none;
    position: absolute;
    text-align: left;
    background-color: var(--background);
    top: 2rem;
    right: 1rem;
    min-width: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    border-radius: 12%;
    background-color: var(--primary);
    color: var(--white);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
