---
import { languages } from "../../i18n/ui";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/MdxPageLayout.astro";

export async function getStaticPaths() {
  return Object.keys(languages).map((path) => ({ params: { lang: path } }));
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("seo.about.title")} description={t("seo.about.description")}>
  <p>{t("about.p1")}</p>
  <p>{t("about.p2")}</p>
</Layout>
