---
import Layout from '../../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { languages } from '../../i18n/ui';

export async function getStaticPaths() {
  return Object.keys(languages).map(path => ({ params: { lang: path } }))
}

---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="mb-4 py-4 px-0 text-center leading-1">
		<h1 class="text-center">Curriculum Vitæ</h1>
		<hr />
	</div>
	<div class="py-4 px-0">
		<h3 class="text-center">AIT ABDELMALEK Mohamed</h3>
		<h4 class="text-center"><span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Full-stack web developer</span></h4>
	</div>

	<div class="py-4 px-0">
		<h4 class="text-center"><span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Credentials</span></h4>
		<div class="flex flex-wrap justify-center items-center gap-x-10">
			<p >Zeralda, Algeria</p>
			<p >aitabdelmalekma@gmail.com</p>
			<a href="https://github.com/moh3a" rel="noreferrer" target="_blank">
				<p >
					<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="inline" width="16" height="16" ><title>GitHub</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>{" "}<span>moh3a</span>
				</p>
			</a>
			<p >(+213)555839315</p>
		</div>
	</div>
	<div class="py-4 px-0 text-justify">
		<h4 class="text-center"><span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Professional Profile</span></h4>
		<p>
			Professional, with many years of experience in (after-sale) customer service and SMD production, combined with a solid academic background in the field of geotechnics and a strong aptitude for acquiring new knowledge.
		</p>
		<p>
			Software development is my passion, being self-taught and ready to start a careet in web development. Able to both work in a team and function independently, I demonstrate a strong sense of organization and team spirit.
		</p>
	</div>
	<div class="py-4 px-0">
		<h4 class="text-center"><span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Projects</span></h4>
		-- add github projects --
	</div>
	<div class="py-4 px-0">
		<h4 class="text-center"><span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Education</span></h4>
		-- add academic background --
	</div>
	<div class="py-4 px-0">
		<h4 class="text-center"><span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Experience</span></h4>
		-- add past and current work experience --
	</div>
	<div class="py-4 px-0">
		<h4 class="text-center"><span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Skills</span></h4>
		-- add skills --
	</div>
	<div class="py-4 px-0">
		<h4 class="text-center"><span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Languages</span></h4>
		-- add human languages I am proficient in --
	</div>
</Layout>
