---
import {  ArrowRight } from 'lucide-preact';

import { LINKEDIN_LINK } from '../../consts';
import Layout from '../../layouts/Layout.astro';
import { getLangFromUrl,useTranslations } from '../../i18n/utils';
import { languages } from '../../i18n/ui';
import MySkills from '../../components/MySkills';

export async function getStaticPaths() {
  return Object.keys(languages).map(path => ({ params: { lang: path } }))
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("seo.home.title")} description={t("seo.home.description")}>
  <div class="my-10 flex justify-between items-center">
    <div class="relative z-10 text-2xl sm:text-3xl md:text-5xl basis-3/4">
      {t('home.mynameis')}
      <br/>
      <span class="font-extrabold">
        {t('home.name')}
      </span>
    </div>
    <img src={`/profile.jpg`} alt="moh3a's profile image" class="z-0 rounded-full basis-1/4 w-40" />
  </div>
  <MySkills client:only lang={lang} />
  <a 
    href={LINKEDIN_LINK} 
    target="_blank" 
    rel="noreferrer" 
    class="underline decoration-[var(--primary)]" >
    {t("home.getintouch")}{" "}
    <ArrowRight class={`inline ${lang === "ar" && "rotate-180"}`} />
  </a>
</Layout>
