---
import Layout from './Layout.astro';

type Props = {title: string, description: string}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
	<article>
		<div>
			<div class="mb-4 py-4 px-0 text-center leading-1">
				<h1 class="mb-2">{title.split("|")[0]}</h1>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</Layout>
